<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Rafael de la Rosa Ortiz.
</p>

<p>
    <a href="https://github.com/fafa95/practica51quiz">Página de Github del proyecto</a>
</p>

<img src="/images/etsit.jpg" />

