<h1>Ayuda</h1>

<ul>
	<li><h4>¿Qué es un Quiz?</h4></li>
	<p>
		Un quiz es una prueba sencilla para evaluar un conocimiento sobre un tema, mediante un cuestionario. Suele ser tipo test, con respuestas predefinidas, y puede haber una o varias respuestas correctas para la misma pregunta.
	</p>

	<li><h4>¿Cuál es el objetivo de esta página?</h4></li>
	<p>
		Se trata de un proyecto educativo de la Universidad Politécnica de Madrid, con el objetivo de enseñar el funcionamiento de una aplicación web con la arquitectura montada en el servidor.
	</p>
</ul>
